
@font-face {
  font-family: 'Lobster';
  src: local('Lobster'), url(./assets/font/Lobster-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.markdown{
  min-width: 100%;
}
.markdown *{
  margin-right:0;
  min-width: 100%;
  
}

.markdown h2{
  font-family: 'Lobster'!important;
}
.markdown h4{
  color: #02539E;
}
.article-sub-title{
  font-family: 'Lobster', serif;
}


#news-letter-form input::placeholder, #news-letter-form input{
 color: white;
}